@import "./partials/splash";

html,
body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
  line-height: 1.8 rem;
  color: grey;
  height: 100vh;
  box-sizing: border-box;
  overflow-x: hidden;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

.App {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}
